html {
 font-family: 'Muli', sans-serif;
}

body {
  margin: 0;
}

*::before, *::after, * {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  padding: 5px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* НАВИГАЦИЯ */
/* НАВИГАЦИЯ */
/* НАВИГАЦИЯ */
header {
  display: flex;
  height: 70px;
  justify-content: space-between;

}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__left {
  display: flex;
  
  align-items: center;
}

.header__right {
  display: flex;

  align-items: center;

  margin-right: 15px;
}

.header__navbar {
  font-size: 20px;
  color: #52575d;
  font-family: "Muli";
  font-weight: 400;
}

.header__navbar a {
  margin-right: 15px;

  transition: color 0.2s ease;
}

.header__navbar a:last-child {
  margin-right: 0;
}

.header__logo {
  font-family: 'Muli' sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: rgb(4, 17, 34);

  margin-right: 65px;
  margin-left: 15px;
}


.products-in-cart {
  font-size: 12px;
  color: white;
  font-family: 'Muli';
  font-weight: 600;
  padding: 5px;
  background-color: #f72464;
  border-radius: 5px;
}
/* ГЛАВНАЯ СЕКЦИЯ */
/* ГЛАВНАЯ СЕКЦИЯ */
/* ГЛАВНАЯ СЕКЦИЯ */

.subheader {
  height: 700px;
  display: inline-block;
  background-image: url(/img/main-girl.png);
  background-repeat: no-repeat;
  background-position: 450px 0;

  background-color: rgb(249, 249, 249);

  margin-bottom: 100px;
}
.subheader__title {
  display: inline-block;
  max-width: 685px;
  
  font-family: 'Lora', serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;

  margin-bottom: 10px;
  margin-top: 175px;
}

.subheader__subtitle {
  display: inline-block;
  max-width: 605px;
  
  font-family: 'Muli';
  font-weight: 300;
  color: rgb(82, 87, 93);
  line-height: 30px;

  margin-bottom: 55px;
}

/* ОФОРМЛЕНИЕ КНОПОК */
/* ОФОРМЛЕНИЕ КНОПОК */
/* ОФОРМЛЕНИЕ КНОПОК */

.btn_shop-now {

  padding: 15px 45px;
  border-radius: 3px;
  filter: drop-shadow(0px 5px 15px rgba(31,35,37,0.25));
  background-color: #f72464;
  text-decoration: none;
  display: inline-block;

  font-family: 'Lora' serif;
  font-size: 20px;
  color: white;

  transition: transform 0.3s ease;
}

.btn_shop-now:hover {
  -webkit-transform:scale(1.1);
}

.btn_shop-now:active {
  background-color: #c20a41;
}

  .quick-view-btn, .add-to-cart-btn {
    filter: drop-shadow(0px 5px 15px rgba(31,35,37,0.25));
    background-color: #f72464;
    text-decoration: none;
    font-family: inherit;
    color: white;

    font-size: 14px;
    width: 120px;
    height: 40px;
    border: 0;
    padding: 10px 20px;

    border-radius: 3px;

    transition: 0.2s ease;
  }

  .quick-view-btn {
    text-align: center;
  }

  .add-to-cart-btn {
    font-family: 'Lora' serif;

    outline: none;
    cursor: pointer;
  }

  .img-container .btn {
    position: absolute;
    display: none;
  }

  .img-container {
    transition: all 0.3s;
  }

  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: all 0.2s;
  }
  .img-container:hover::before {
    background-color: rgba(0,0,0,0.6);
}

.img-container:hover .btn {
  display: block;
}

.quick-view-btn:hover, .add-to-cart-btn:hover {
  background-color: #ce0f48;
}

.quick-view-btn:active, .add-to-cart-btn:active {
  background-color: #a30c39;
}

/* ОФОРМЛЕНИЕ КНОПОК ЗАКОНЧЕНО */
/* ОФОРМЛЕНИЕ КНОПОК ЗАКОНЧЕНО */
/* ОФОРМЛЕНИЕ КНОПОК ЗАКОНЧЕНО */


/* НАЗВАНИЕ СЕКЦИЙ */
/* НАЗВАНИЕ СЕКЦИЙ */
/* НАЗВАНИЕ СЕКЦИЙ */

.section__header {
  margin-bottom: 100px;
  text-align: center;
}

.section__header-title {
  font-size: 35px;
  font-family: 'Droid Serif' serif;
  text-align: center;
}

.section__header-subtitle {
  font-size: 12px;
  color: #919191;
  font-family: "Muli";
  font-weight: 300;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}
/* ОФОРМЛЕНИЕ КАРТОЧЕК */
/* ОФОРМЛЕНИЕ КАРТОЧЕК */
/* ОФОРМЛЕНИЕ КАРТОЧЕК */

.wrapper {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;

  margin-top: 100px;
}

.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container .add-to-cart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container .quick-view-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 260px;
  max-height: 395px;
  margin-right: 15px;
  margin-bottom: 50px;
}

.product-card__img {
  max-width: 260px;
  max-height: 330px;
}

.product-card__name {
  font-size: 18px;
  color: #222222;
  font-family: "Droid Serif";
  font-weight: 400;
  text-align: center;
  
  margin-top: 20px;
}

.product-card__price {
  margin-top: 5px;
  font-family: 'Muli' sans-serif;
  font-weight: 600;
  color: rgb(247, 36, 100);
}

.product-card__price > span {
  color: rgb(131, 139, 143);
  margin-right: 8px;
}
/* КОНЕЦ ОФОРМЛЕНИЯ КАРТОЧЕК */
.browse-all-items {
  text-align: center;
  text-decoration: none;
  font-family: 'Lora' serif;
  font-size: 14px;
  color: rgb(82, 87, 93);
  padding: 10px 20px;
  border: 1px solid #f72464;
  border-radius: 3px;

  max-width: 160px;
  max-height: 40px;

  transition: all .3s ease;

  margin-bottom: 100px;
}


.new-products {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.browse-all-items:hover {
  background-color: #f72464;
  color: #fff;
}

/* blocks */

.intersection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 185px;
  background-color: pink;
  background-image: url(./img/dark-bg-1.png);
}
.intersection__title {
  font-family: 'Lora' serif;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 130px;

}

.intersection-btn {
  margin-right: 130px;
  cursor: pointer;
}


